<%- include("partials/header"); -%>

<h1 class="post-title"><%= title %></h1>
<p class="post-info"><%= date %></p>
<p>
  <%# This outputs the content using line breaks, if the post has any %> <%-
  content %>
</p>
<p class="post-info">by <%= author %></p>
<hr />

<% if(comments.length>0) { %> 
<div>
<h3>Comments</h3>
<div class="comments">
  <% comments.forEach(comment => { %>

  <div class="card">
    <div class="card-header">
      <span class="comment-username"><%=comment.user%></span>
      said:

      <span class="comment-date"><%=comment.date.toLocaleString() %></span>
    </div>
    <div class="card-body">
      <p class="card-text comment-content"><%=comment.content%></p>
    </div>
  </div>
  <%}); %>


  <hr />
</div>
<% } %> 

    <h4>Leave a comment</h4>
    <form method="post" action="/comment" class="needs-validation" novalidate>
      <div class="form-group">
        <label for="userName">Your name:</label>
        <input id="userName" class="form-control" type="text" name="userName" value="<%=user? user.username: null%>" required />
        <div class="invalid-feedback">
          Name is required.
        </div>
      </div>

      <div class="form-group">
        <label for="userEmail">Your email:</label>
        <input
          id="userEmail"
          class="form-control"
          type="email"
          name="userEmail"
          value="<%=user? user.email: null%>"
          required
        />
        <div class="invalid-feedback">Email is required.</div>
      </div>

      <div class="form-group">
        <label for="comment">Your message:</label>
        <textarea
          id="comment"
          class="form-control"
          name="comment"
          cols="80"
          rows="5"
          required
        ></textarea>
      </div>
      <div class="invalid-feedback">Message is required.</div>

      <input type="hidden" name="postId" value="<%=id%>" />
      <button class="btn btn-primary" type="submit">Submit</button>
    </form>
  </div>
<!-- </div> -->


<script>
  // Disable form submissions if there are invalid fields
  (function() {
    'use strict';
    window.addEventListener('load', function() {
      // Get the forms we want to add validation styles to
      var forms = document.getElementsByClassName('needs-validation');
      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function(form) {
        form.addEventListener('submit', function(event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();

  function updateClass() {
    document.getElementById("commentToggler").classList.toggle("active");
  }
  </script>
  
<%- include("partials/footer"); -%>
